body {
	background-color: #424b4f;
	padding: 5px;
  }
  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	font-family: 'Didact Gothic', sans-serif;
	color: #FFFFFF;
}
.one {
  padding: 0px 0px 100px 0px;
}
h1 {
  font-size: 50px;
}
p {
font-size: 21px;
}
hr.style11 {
  height: 6px;
  background: url('http://ibrahimjabbari.com/english/images/hr-11.png') repeat-x 0 0;
    border: 0; 
}
